body{
  background-color: rgb(8, 0, 114);
}
.container{
  background-color: white;
  border-radius: 10px;
  width: 50vw;
  padding: 30px;
  margin: 40vh auto 0 auto;
}
.form_text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.todo_textbox{
  width: 80%;
  font-size: 14px;
  padding: 5px;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 5px;
}
.todo_submit{
  width: 100px;
  height: 50px;
  border: 2px solid rgb(234, 0, 255);
  background-color: white;
  border-radius: 5px;
  color: rgb(234, 0, 255);
}
.todo_table{
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
.todo_table-tr{
  height: 50px;
}
.todo_table-title{
  font-weight: bold;
}
.todo_table-task{
  width: 90%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(151, 151, 151);
  appearance: none;
  font-size: 14px;
  outline: none;
}
.todo_table-update{
  text-align: left;
  border: 2px solid rgb(255, 136, 0);
  font-size: 12px;
  color: rgb(255, 136, 0);
  background-color: white;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  outline: none;
}
.todo_table-delete{
  text-align: left;
  border: 2px solid rgb(0, 255, 191);
  font-size: 12px;
  color: rgb(0, 255, 191);
  background-color: white;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  outline: none;
}
.todo_table_form-item{
  display: none;
}